.container {
  background-color: #f4f7fa;
  color: #fff;
  height: 70px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.datePicker {
  grid-column: 5/10;
  grid-row: 2/4;
  background: #dff5d8;
  font-size: 20px;

  border: none;
  overflow: hidden;
}

.datePicker input {
  text-align: center;
  border: none;
  font-family: "Roboto Condensed";
  text-align: center;
  font-weight: bold;
  background-color: transparent;
  border-bottom: 2px solid #f3c41b;
}

.calendar {
  font-weight: bolder;
  font-style: italic;
  background-image: url("../../images/sky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  height: 290px;
}
